html, body {
  padding: 16px;
}

.separator {
  border-bottom: 1px dotted gray;
  margin: 16px 0;
}

.ant-btn {
  margin: 0 8px;
  text-transform: uppercase;
}

.marketing-links {
  font-size: 16px;
}
